@font-face {
  font-family: Manjari;
  src: url("../fuentes/Manjari/Manjari-Regular.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  height: 100vh;
  font-family: Manjari;
}

header {
  width: 100%;
  padding: 0.8%;
  display: flex;
  justify-content: space-around;
  position: absolute;
}
header a {
  text-decoration: none;
  color: white;
  font-size: 32px;
  letter-spacing: 0.5px;
}
header div {
  display: flex;
  align-items: center;
  gap: 10%;
  width: 200px;
}
header div img {
  width: 38px;
}
header #guardados {
  font-size: 18px;
}
header #img-guardados {
  width: 26px;
}

nav {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.155);
  border-radius: 50px;
  min-width: 270px;
  min-height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3%;
  background-color: white;
}
nav a {
  color: white;
  background-color: #3399FF;
  font-size: 14px;
  border-radius: 50px;
  min-width: 120px;
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
nav .pag-no-actual {
  background: none;
  color: black;
}

.centro {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 35px;
  background: 0 250%/cover url("../img/cielo.jpg") no-repeat;
  background-attachment: fixed;
}
.centro h1 {
  color: white;
  text-align: center;
  max-width: 600px;
  font-size: 32px;
  font-weight: 600;
  letter-spacing: 1px;
}
.centro .barra-busqueda {
  min-width: 800px;
  min-height: 50px;
  border-radius: 50px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.155);
  display: flex;
  align-items: center;
  background-color: white;
}
.centro .barra-busqueda .filtro {
  width: 180px;
  border-right: 2px solid rgba(0, 0, 0, 0.257);
  height: 50px;
  display: flex;
  align-items: center;
}
.centro .barra-busqueda .filtro .selector-filtro {
  outline: none;
  font-family: Manjari;
  padding-left: 50px;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  background: url("../img/ajustes.png") no-repeat 15% center/18px;
}
.centro .barra-busqueda .input-busqueda {
  width: 100%;
  margin-inline: 10px;
}
.centro .barra-busqueda .input-busqueda form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.centro .barra-busqueda .input-busqueda input {
  margin-left: 15px;
  width: 300px;
  height: 30px;
  border: none;
  outline: none;
}
.centro .barra-busqueda .input-busqueda button {
  background-color: #3399FF;
  border: none;
  width: 100px;
  border-radius: 50px;
  padding: 5px;
  padding-inline: 0;
  cursor: pointer;
}
.centro .barra-busqueda .input-busqueda button img {
  max-width: 22px;
}
.centro .notas p {
  color: white;
  font-family: Manjari;
  font-size: 14px;
}
.centro .accesos-rapidos {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 20px;
}
.centro .accesos-rapidos .acceso {
  background-color: white;
  width: 100px;
  height: 80px;
  border-radius: 10px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.302);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.centro .accesos-rapidos .acceso img {
  width: 32px;
}
.centro .accesos-rapidos .acceso span {
  font-size: 14px;
}
.centro .accesos-rapidos .acceso:hover {
  cursor: pointer;
  scale: 1.01;
}

.content-galeria {
  padding-inline: 20%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-galeria .cabecera-galeria {
  margin-top: 5%;
  padding: 1%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1%;
}
.content-galeria .cabecera-galeria .titulo-galeria {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.155);
  width: 450px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
.content-galeria .cabecera-galeria .titulo-galeria h1 {
  color: black;
  font-size: 22px;
}
.content-galeria .cabecera-galeria .text-galeria {
  height: 80px;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.155);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  align-items: center;
  padding: 2%;
}
.content-galeria .galeria {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  gap: 1%;
}
.content-galeria .galeria div {
  width: 300px;
  height: 350px;
  display: flex;
  flex-direction: column;
}
.content-galeria .galeria div .foto, .content-galeria .galeria div .video {
  width: 300px;
  height: 350px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  position: absolute;
}
.content-galeria .galeria div .accion {
  padding: 5%;
}
.content-galeria .galeria div .accion button {
  opacity: 0.8;
  visibility: hidden;
  border: none;
  border-radius: 50px;
  background-color: white;
  width: 34px;
  height: 34px;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  margin-bottom: 6%;
}
.content-galeria .galeria div .accion img {
  padding: 10px;
  border-radius: 0;
  width: 38px;
  height: 38px;
}
.content-galeria .galeria div:hover .foto, .content-galeria .galeria div:hover .video {
  opacity: 0.8;
}
.content-galeria .galeria div:hover .descargar, .content-galeria .galeria div:hover .guardar, .content-galeria .galeria div:hover .borrar {
  visibility: visible;
}
.content-galeria .galeria .frases {
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.155);
  background: url("../img/frases.png");
  border-radius: 10px;
  padding: 10%;
  display: flex;
  justify-content: center;
}
.content-galeria .galeria .frases p {
  font-family: Manjari;
  display: flex;
  align-items: center;
}

footer {
  margin-top: 100px;
  width: 100%;
  height: 60px;
  background: 0 40%/cover url("../img/cielo.jpg") no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer h1 {
  font-size: 16px;
  color: white;
  letter-spacing: 1px;
  font-weight: 100;
}

.volver {
  width: 50px;
  position: absolute;
  left: 50px;
  top: 20px;
}
.volver img {
  width: 32px;
  height: 32px;
}

.tipo-recurso {
  margin-top: 40px;
  font-size: 14px;
}/*# sourceMappingURL=estilos.css.map */